.inputContainer {
  width: 260px;

  input {
    width: 100%;
    border: none;
    background: var(--gray-100);

    height: 50px;
    border-radius: 25px;

    padding: 0 1.7rem;

    outline: none;

    &::placeholder {
      color: var(--gray-200);
    }
  }
}
