.inputContainer {
  width: 100%;

  background: var(--gray-100);

  border-radius: 25px;

  display: flex;
  flex-direction: row;
  align-items: center;

  padding-left: 1.5rem;

  input {
    padding-left: 1.2rem;

    width: 100%;
    border: none;

    background: none;

    height: 50px;

    outline: none;

    &::placeholder {
      color: var(--gray-200);
    }
  }
}
