$white: #ffffff;

$gray100: #f4f4f4;
$gray200: #c2c2c2;
$gray900: #37373b;

$green500: #48d1b2;

$blue500: #57acf6;

$red500: #f5796b;

$yellow500: #facf4a;

$purple500: #7d518d;

$brown500: #b2746c;
