.listContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;

  width: 100%;

  margin-bottom: 10vh;

  @media (max-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 420px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
